.test {
  color: #fff; }

.test .blue {
  background-color: blue; }

.test > .blue {
  color: red;
  transform: translate(50%, 5px) scale(5); }


  "react-native-css-transformer": "file:./css-to-react-native-transform",